.container {
  margin: 10px 2px;
  background-color: lavender;
  border-radius: 1em;
  padding: 2px 15px;
  a {
    display: flex;
    margin: 18px 2px;
    font-size: 18px;
  }
}
.main {
  display: flex;
  margin: 4em 2em;
  .flex-left {
    width: 12%;
    height: 100vh;
  }
  .flex-right {
    width: 88%;
    padding-top: 1em;
    margin-bottom: 6em;
  }
}
