table {
  // margin: 2em 0;
  width: 100%;
  tr {
    td, th {
      padding: .5em;
    }
  }
  button {
    padding: 8px 15px;
  }
  .edit, .view {
    margin: 0 5px;
  }
  .delete {
    background-color: #e9a9a9;
  }
}
h1 {
  padding-bottom: 10px;
}
