<mat-card class="container flex-right">
<mat-card-header>
  <mat-card-title>
    <h1 class="detail">Suppliers Sales</h1>
  </mat-card-title>
</mat-card-header>
<mat-card-content class="deatil-heading">
  <div class="container flex-right mat-elevation-z8">
    <table mat-table [dataSource]="salesList" matSort>
      <!-- No. Column -->
      <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let sale; let i = index"> {{i+1}} </td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="Customer Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Email </th>
        <td mat-cell *matCellDef="let sale"> {{sale.customer.email}} </td>
      </ng-container>
      <!-- Store Location Column -->
      <ng-container matColumnDef="Store Location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Store Location </th>
        <td mat-cell *matCellDef="let sale"> {{sale.storeLocation}} </td>
      </ng-container>
      <!-- Purchase Method Column -->
      <ng-container matColumnDef="Purchase Method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Method </th>
        <td mat-cell *matCellDef="let sale"> {{sale.purchaseMethod}} </td>
      </ng-container>
      <!-- Product Count Column -->
      <ng-container matColumnDef="Product Count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Count </th>
        <td mat-cell *matCellDef="let sale"> {{sale.items.length}} </td>
      </ng-container>
      <!-- Coupon Used Column -->
      <ng-container matColumnDef="Coupon Used">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coupon Used </th>
        <td mat-cell *matCellDef="let sale"> {{sale.couponUsed}} </td>
      </ng-container>
      <!-- Sales Date Column -->
      <ng-container matColumnDef="Sales Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales Date </th>
        <td mat-cell *matCellDef="let sale"> {{sale.saleDate?? ''}} </td>
      </ng-container>

      <!-- Make Changes Column -->
      <ng-container matColumnDef="Make Changes">
        <th mat-header-cell *matHeaderCellDef> Make Changes </th>
        <td mat-cell *matCellDef="let sale">
          <button mat-raised-button color="primary" class="view" routerLink="/sales-detail/{{sale._id}}">View</button>
          <button mat-raised-button color="warn" (click)="deleteSale(sale)" title="Delete sales">Delete</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</mat-card-content>
</mat-card>
